/*div.likyh-banner*/
div.likyh-banner {
    /*height: 297px;*/
    /*width:340px;*/
    overflow: hidden;
    position: relative;
}
div.likyh-banner ul {
    height: 100%;
    position: absolute;
}
div.likyh-banner ul li {
    float: left;
    overflow: hidden;
    position: relative;
    /*background: #000;*/
}
div.likyh-banner ul li img {
    width: 100%;
    height: 100%;
}
div.likyh-banner ul li a{
    margin:0;}
div.likyh-banner ul li div {
    position: absolute;
    overflow: hidden;
}
div.likyh-banner .btnBg {
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: 0px;
    /*background: #000;*/
}
div.likyh-banner .btn {
    position: absolute;
    width: 700px;
    height: 11px;
    padding: 5px 10px;
    right: 0;
    bottom: 5px;
    _bottom: 3px;
    text-align: center;
}
div.likyh-banner .btn span {
    display: inline-block;
    _display: inline;
    _zoom: 1;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    _font-size: 0;
    margin-left: 12px;
    cursor: pointer;
    background: #ddd;
    border: #7d995d 2.5px solid;
}

div.likyh-banner .btn h3{
    display: none;
    /*display:inline-block;*/
    padding:0 30px;
    color:#FFF;}

div.likyh-banner .btn span.on {
    background: #fff;
}
div.likyh-banner .preNext {
    width: 45px;
    height: 100px;
    position: absolute;
    top: 110px;
    background: url(sprite.png) no-repeat 0 0;
    cursor: pointer;
}
div.likyh-banner .pre {
    left: 0;
}
div.likyh-banner .next {
    right: 0;
    background-position: right top;
}
