div#header .wrapper {
    height: 148px;
}
div#header .logo, div#header .progress_box, div#header .search_info {
    float: left;
}
div#header .logo {
    width: 251px;
    height: 148px;
    background: url("image/title_logo.png") no-repeat;
}

div#having_choose div.title, div#having_choose div.choosed_product{
    /*width: 100%;*/
    overflow: hidden;
    zoom:1;
}
div#having_choose div.choosed_product{
    height: 90px;
    padding: 20px 10px;
}
div#having_choose div.title:after, div#having_choose div.choosed_product:after{
    display:block;clear:both;content:"";visibility:hidden;height:0
}
div#having_choose div.title div,div#having_choose div.choosed_product div {
    float: left;
}
div.choose_all_box {/*width: 20%;*/width: 80px;}
div.choose {width: 1%;padding: 0 10px;}
div.image {width: 12%;}
div.name_box {width: 20%;padding: 0 2%;text-align: center;}
div.price_box {width: 9%;padding: 0 2%}
div.amount_box {width: 14%;padding: 0 2%}
div.total_box {width: 9%;padding: 0 2%}
div.operate_box {width: 9%;padding: 0 2%}

div.progress_box{
    width: 640px;
    margin: 20px 0 0 0;
    line-height: 68px;
}
div.progress_box span{
    font-size: 13px;
    color: #a3a3a3;
    cursor: default;
}
div.progress_box div.complete span{
    color: #7abd54;
}
div.progress.progress_1{
    background: url("image/stepOne.png") no-repeat;
}
div.progress.progress_2{
    background: url("image/stepTwo.png") no-repeat;
}
div.progress.progress_3{
    background: url("image/stepThree.png") no-repeat;
}
div.progress.progress_4{
    background: url("image/stepFour.png") no-repeat;
}
div.step-1,div.step-2,div.step-3,div.step-4{
    float: left;
    display: block;
    width: 160px;
    text-align: center;
}
.progress:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.progress{zoom:1}

div#having_choose a{
    color: #666;
}
div#having_choose div.wrapper{
    border: thin solid #ccc;  
    font-size: 13px; }
div#having_choose div.wrapper div.title{
    border-bottom: thin solid #ccc; 
    line-height: 42px;
    background: #fbfbfb;
    text-align: center;
}
div.choose_all_box{
    text-align: left;
    margin-left: 20px;
}

div#having_choose div.wrapper div.last_row{
    border-top: thin solid #ccc; 
    background: url(image/last_row.png)no-repeat;
    line-height: 72px;
}
div.last_row div.change_product,div.last_row div.choose_all_box,div.last_row div.move_box{
    float: left;
}
div.last_row div.change_product{
    width: 30%;
}
div.last_row div.move_box a{
    margin: 0 15px;
}
.row_right{
    float: right;
}
.add_price,.confirm_box{
    display: inline;
}
div.add_price span{
    padding: 0 2px;
}
div.add_price span.goods_origin_price{font-size: 16px;color: #ff9b00;}
div.add_price span.trans_price{font-size: 16px;color: #ff9b00;}
div.add_price span.member_price{font-size: 16px;color: #00a25f;}
div.add_price span.total_price{font-size: 22px;color: #ff7800;}
div.confirm_box input{
    width: 89px;
    height: 34px;
    margin: 0 10px;
    background: #7d995d;
    border: #a0a0a0;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.last_row:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.last_row{zoom:1}

div.choosed_product{
    border-bottom: thin solid #ccc;
}
div.choosed_product div.image img{
    width: 132px;
    height: 99px;
}
div.choosed_product div.price_box {
    line-height: 24px;
    text-align: center;
}
span.origin_price,span.selling_price{
    display: block;
}
span.origin_price{
    text-decoration: line-through;
    color: #a0a0a0;
}
span.selling_price{
    font-size: 16px;
    color: #ff9b00;
}
span.special_info{
    background: #caff4c;
    color: #7d995d;
}
div.amount_box div.choose_amount input,div.amount_box div.choose_amount div.minus,div.amount_box div.choose_amount div.plus{
    float: left;
    margin-top: 5.5px;
    padding: 0 5px;
    border: thin solid #ccc;
}
div.amount_box div.choose_amount input{
    width: 68px;
    height: 32px;
    border-left:none;
    border-right: none; 
}
div.amount_box div.choose_amount div.minus,div.amount_box div.choose_amount div.plus{
    height: 32px;
    line-height: 32px;
    background: #fbfbfb;
    color: #a0a0a0;
}
div.choosed_product div.total_box{
    font-size: 18px;
    line-height: 42px;
    color: #ff9b00;
}
div.choosed_product div.operate_box a{
    display: block;
    line-height: 21px;
    text-align: center;
}
div.title div.choose_all_box{
    margin-right: 48px;
}

/*order*/
div#order{
    font-size: 14px;
}
div#order h4{
    line-height: 42px;
}
div#order div#goods table,div#order div#goods table tr{
    width: 100%;
    border: thin solid #ddd;
    line-height: 32px;
    text-align: center;
}
div#order div#goods table thead{
    background: #fbfbfb;
}
div#order div#goods table tfoot tr{
    line-height: 36px;
    text-align: right;
}
div#order div#goods table th,div#order div#goods table td{
    padding: 0 15px;
}
div#goods table th.goods_name{
    width: 70%;
}
div#goods table th.goods_price,div#goods table th.goods_price,div#goods table th.goods_price{
    width: 10%;
}
form#order_form div.normal{
    line-height: 36px;
    border: thin solid #ddd;
}
form#order_form div.normal input{
    margin: 0 15px;
}
form#order_form div.normal a{
    margin-left: 15px;
    font-size: 13px;
    color: #7d995d;
}
form#order_form div.modify{
    padding: 15px;
    background: #fbfbfb;
    border-top: thin solid #ddd;
}
form#order_form div.add div.modify{
    border: thin solid #ddd;
    line-height: 36px;
}
form#order_form div.modify input{
    min-width: 200px;
    padding: 0 5px;
}
form#order_form div.modify input#streetInput{
    min-width: 400px;
}

form#order_form div.modify label span{
    margin: 10px;
    color: #dc001a;
}
form#order_form div.modify a.modifyConfirm{
    display: block;
    width: 140px;
    height: 35px;
    margin: 10px;
    text-align: center;
    background: #7d995e;
    font-size: 16px;
    font-family: "微软雅黑""黑体";
    color: #fff;
}
form#order_form div#address div.add a.new{
    margin: 10px;
    padding: 3px 0 5px 30px;
    line-height: 32px;
    background: url(image/add.png) no-repeat 4px;
    color: #7d995d;
}
div#pay{
    padding-bottom: 25px;
}
div#pay input{
    margin: 0 15px;
}
div#pay .disabled{
    color: #aaa;
}
div.sub_order input{
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    text-align: center;
    background: #7d995e;
    font-size: 16px;
    outline: none;
    border: none;
    color: #fff;
}
/*order_complete*/
div#compeletFrame{
    width: 1280px;
    margin: 30px auto;
    height: 100px;
    padding-top: 80px; 
    background: #fbfbfb;
    border: thin solid #ddd;
    text-align: center;
    font-size: 14px;
}
div#compeletFrame span.submit{
    padding: 14px 30px 15px 60px;
    background: url(image/success.png) no-repeat;
    font-weight: bold;
}
div#compeletFrame a{
    padding: 5px;
    color: #7d995d;
    font-weight: bold;
}
