body,html{
    background-color:#fff;
    color: #111;
}
#header ,#header img.headerImg{
    width: 100%;
    background-color: #202f48;
}
#userBar {
    position: fixed;
    left: 0;
    top:0;
    height: 35px;
    width: 70%;
    padding: 0 15%;
    z-index: 100;
    background-color: #f0f0f0;
    font-size: 13px;
}
#userBar a{
    line-height: 35px;
    color: #999;
    font-size: 13px;
    margin: 0 5px;
}
#userBar a.login{
    color: #ff9b00;
}
#userBar .user_operate{
    float: left;
}
 #userBar .user_info {
    float: right;
 }
#userBar:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#userBar{zoom:1}
.head{
    position: relative;
    width: 960px;
    height: 96px;
    margin: 35px auto 0 auto;
    background-color: #202f48;
}
.head:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.head{zoom:1}
.head h1{
    width: auto;
    height: 90%;
    float: left;
    margin-top: 10px;
}
.head h2{
    position: absolute;
    left: 200px;
    top: 50%;
    font-size: 16px;
    color: #bf9e80;
}
.head .like{
    position: absolute;
    top: 0;
    right: 1%;
}
.head .searchBox{
    position: absolute;
    bottom: 35%;
    right: 1%;
    
}
.head .searchBox input.searchInput{
    background-color: #171b2b;
    padding: 0 5px;
    border: none;
    height: 24px;
    color: #fff;
}
.head .searchBox input.searchInput:focus{
    outline: none;
}
.head .searchBox input.searchSubmit{
    background-color: #19253a;
    border: none;
    color: #ddd;
    padding: 5px 10px;
    font-size: 14px;
}
.nav{
    width: 100%;
    background-color: #000;
    color: #bf9e80;
    font-size: 14px;
}
.nav ul{
    width: 960px;
    margin: 0 auto;
}
.nav ul li{
    padding: 10px;
    display: inline-block;
}
.nav > ul > li:nth-child(1){
    background:url(image/nav_BG.png)no-repeat;
}
#container{
    margin: 0 auto;
    width: 960px;
}
#container > div{
    width: 100%;
}
.nav{
    width: 100%;
}
.nav a{
    color: #c8ac94;
}
.nav img{
    width: 100%;
}

footer{
    margin-bottom: 30px;
}
footer div.bottomList{
    height: 36px;
    background-color: #bddec3;
    font-size: 0.8em;
}
footer div.bottomList ul li{
    float: left;
    line-height: 36px;
}
footer div.bottomList ul li a{
    padding: 0 25px;
    border-right: thin solid #008a9f;
    color: #008a9f;
}
footer div.bottomList a.backToTop{
    float: right;
    padding: 11px 15px;
    background-color: #008a9f;
    color: #fff;
}
.bottomList:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.bottomList{zoom:1}

footer div.bottomTips{
    height: 110px;
    padding: 15px 0 15px 15px;
    background-color: #fff;
}
footer div.bottomTips div{
    width: 18%;
    height: 80%;
    float: left;
    padding: 10px 10px 10px 7px;
    border-right: thin solid #ccc;
}
footer div.bottomTips div h4{
    color: #008a9f;
    line-height: 2em;
}
footer div.bottomTips div p{
    color: #999;
    font-size: 0.8em;
    line-height: 1.5em;
}
.bottomTips:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.bottomTips{zoom:1}

div.classify_box img{
    outline:thin solid #ccc;
    margin: 5px 0;
}
div.sideTitle{
    width: 190px;
    height: 36px;
    padding-left: 40px;
    background: url(image/menu_logo.png)no-repeat;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
}
#collect{
    cursor: pointer;
}
div.classify_box ul li{
    margin-bottom: 2px;
    padding-left: 16px;
    background: #dae8eb;
    list-style: disc inside url(image/menu_list.png);
}
div.classify_box ul li a{
    line-height: 32px;
    font-size: 14px;
    color: #242a42;
}
.headLine{
    padding: 10px;
}


div.top_row {  
    padding:11.5px;
    border-bottom: thin solid #dcdcdc;
    position: relative;
}
#shareBox{
    position: absolute;
    padding-top: 20px;
    top: 10px;
    right: 0;
    display: none;
}
.top_row:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.top_row{zoom:1}
div.top_row a{
    font-size: 13px;
}
div.list_map{
    float: left;
}
div.list_map a{
    color: #999;
}
div.sorting,div.share{
    float: right;
}
div.share a{
    color: #7d995d;
}

.hotSelling{
    margin-top: 10px;
    background-color: #fff;
}
.hotSelling .headLine{
    background-color: #121a2b;
}
.hotSelling .headLine h2{
    display: inline;
}
.hotSelling .headLine a{
    float: right;
    margin:15px 10px 0 0;
}
.headLine a{
    font-size: 13px;
    color: #f0ffff;
}
.hotSelling .hotProduct{
    width: 230px;
    margin: 10px 5px;
    float: left;
}
#container > div.hotSelling > div.hotProduct.hotProduct_4{
    margin-right: 0;
}
.hotSelling .hotProduct .hotProductInfo{
    background:url(image/goodsBG_only.png)no-repeat;
    background-size: 100%;
}
.hotSelling .hotProduct a.hotShow{
    display: block;
    height: 220px;
    width: 100%;
    overflow: hidden;
}
.hotSelling .hotProduct a.hotShow img{
    width: 100%;
    margin: 0;
}
.hotSelling .hotProductInfo{
    width: 100%;
    height: 100px;
}
.hotSelling .hotProductInfo p {
    padding: 5px 10px 0 10px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 1.5em;
    font-size: 14px;
    color: #c7d3de;
    overflow: hidden;
}
.hotSelling .hotProductInfo .price {
    margin-left: 10px;
    color: #d6dc1e;
}
.hotSelling .productChoose img{
    width: 100%;

}
.hotSelling:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.hotSelling{zoom:1}