body,span,a,p,h1,h2,h3,input{
    font-family: '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
}
#container,a{
    color: #535353;
}
#container{
    background: url(image/bodyBG.png)repeat-y;
}
a:hover{
    color: #7d995d;
}
input:focus,select:focus{
    outline: none;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}

#userBar {
    position: fixed;
    left: 0;
    top:0;
    height: 35px;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
}

#userBar .user_operate, #userBar .user_info {
    float: left;
}
#userBar:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#userBar{zoom:1}

#logo {
    height: 164px;
    background: #eff3f4;
    margin:25px 0 36px 0;
}

#header {
}
#nav {
    width:226px;
    float: left;
    margin-right: 24px;
}
.recommend {
    width: 735px;

    float: left;
}
.user {
    width: 262px;
    float: left;
}
#header:after{display:block;clear:both;content:"";visibility:hidden;height:0}
#header{zoom:1}


div#service {
    margin-top: 30px;
    padding: 20px 0;
    background-color: #fdfdfd;
    border-top:thin solid #e0e0e0;  
    border-bottom:thin solid #e0e0e0;  
}
div#service div.wrapper div {
    float: left;
    width: 192px;
    padding: 0 10px;
}
div#service h4{
    line-height: 36px;
    border-bottom: thin solid #ccc;
    font-size: 16px;
    color: #535353;
}
div#service div.wrapper div ul li{
    list-style: disc inside;
}
div#service div.wrapper div ul li a{
    line-height: 22px;
    font-size: 11px;
    color: #666;
}
div#service div.wrapper div ul li a:hover{
    color: #7d995d;
}

div#service:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div#service{zoom:1}

div#link_icon div.wrapper {
    width: 1000px;
}
div#link_icon div.wrapper div {
    float: left;
    width: 200px;
    height: 80px;
    margin: 20px;
    background-color: #003366;
}
div#link_icon div.wrapper div span {
    display: none;
}
div#link_icon:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div#link_icon{zoom:1}

div#footer {
    background-color: #e7f0d1;
    background-image: url(image/foot.png);
}


/*Details*/

div#userbar{
    height:40px;
    background: #f0f0f0;
    border-bottom:thin solid #e5e5e5;
    line-height: 40px;
}
div#userbar a,div#userbar span{
    margin: 0 10px;
    color: #535353;
    font-size: 12px;
}
div#userbar div.user_operate a{
    margin: 0 10px;
    color: #ff9b00;
    font-size: 12px;
}
div#userbar a:hover{
    color: #ff9b00;
}
div#userbar a:active{
    color: #ff9b00;
}
div#userbar div.user_info{
    display: block;
    float: right;
}

div#logo div.wrapper img{
    width: 100%;
}

div.searchBox {
    width: 705px;
    height: 34px;
    padding: 6px 6px 6px 35px;
    background:url(image/search.png)no-repeat #f9f9f9;
    border:1px solid #d0d0d0;
    color: #a0a0a0;
}
div.searchBox input#searchInput{
    width: 610px;
    height: 34px;
    outline: none;
    color: #a0a0a0;
    font-size:14px;
    background: none;
    border: none;
}
div.searchBox input.searchSubmit{
    width: 89px;
    height: 34px;
    float: right;
    background: #7d995d;
    border: #a0a0a0;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
div.searchBox input.searchSubmit:hover{
   
}
div.searchBox input.searchSubmit:active,div.searchBox input.searchSubmit:visited{
    outline: none;
    border: none;
}
div.hotLabel{
    font-size: 12px;
    line-height: 36px;
}
div.hotLabel span{
    color: #a0a0a0;
}
div.hotLabel a{
    color: #ff9b00;
}



div.goods_show .goods {
    width: 298px;
    height: 250px;
    border-bottom: solid thin #dcdcdc;
    float: left;
}
div.goods_show .goods img {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 150px;
}
div.goods_show div.goods a{
    display: block;
    width: 205px;
    margin: 5px auto;
    font-size: 13px;
    line-height: 18px;
    color: #535353;
}
div.goods_show div.goods a:hover{
    color: #7d995d;
}
div.goods_show div.price{
    display: block;
    width: 205px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 14px;
    color: #ff9b00;
}

div.goods_show div.price:before {
    content: '￥';
}
.goods_show:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.goods_show{zoom:1}

div#product_hot.product_show .goods_show .goods {
    width: 254px;
}
div.product_show#product_hot div.wrapper{
    border: none;
    border-bottom: solid thin #dcdcdc;
}
div.product_show#product_hot div.head {
    background: none;
}
div.product_show#product_hot div.head h3{
    margin: 15px;
    background:  url(image/hot.png)no-repeat;
    padding-left: 55px;
    color: #535353;
    font-weight: normal;
}
div#product_hot.product_show .goods_show .goods img {
    width: 200px;
    height: 150px;
}

div#footer {
    padding: 10px 0;
    text-align: center;
    font-size: 11px;

}
div#footer div.site_linkBox{
    margin: 20px 0;
}
div#footer div.site_linkBox a{
    padding:0 5px 1px 3px;
    border-right: thin solid #999;
    color: #535353;
}
div#footer div.site_info p{
    line-height: 18px;
    color: #7d995d;
}


/*次级导航*/
div.classify_box{
    width: 270px;
}
div.classify_box ul.classify li{
    padding-left: 20%;
    line-height: 42px;
    border-bottom: thin dashed #ccc;
    list-style:inside;
}
div.classify_box ul.classify li a{
    font-size: 14px;
    color: #707070;
}

/*top_row*/
div.top_row {
    height: 42px;
    padding: 0 15px;
    background: #fbfbfb;
    line-height: 42px;
    font-size: 13px;
}
div.nav_link_box{
    position: relative;
    top: 19px;
    left: 22px;
    text-align: center;
}
div.nav_link_box a.nav_link.link_index{
    background: url(image/index.png)no-repeat;
}
div.nav_link_box a.nav_link.link_cart{
    background: url(image/basket.png)no-repeat;
}
div.nav_link_box a{
    margin: 20px 0;
    padding: 18px 40px;
/*    width: 118px;
    height: 46px;*/
    font-size: 13px;
}