div#contain div.wrapper {

}
div#contain div.wrapper:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div#contain div.wrapper{zoom:1}
div.product {
    width: 760px;
    height: 530px;
    float: right;
    border-bottom: thin solid #dcdcdc;
}
div.sidebar {
    display: block;
    width: 190px;
    float: left;
}
div.relatedGoods{
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 18px;
    border-bottom: thin solid #ddd;
}
div.relatedGoods ul li{
    height: 65px;
    margin-top: 10px;
    border-bottom: thin solid #ddd;
}
div.relatedGoods ul li img{
    float: left;
    width: 50px;
    margin: 5px;

}
div.relatedGoods ul li a{
    height: 40px;
    overflow: hidden;
    font-size: 13px;
    color: #333;
}
div.relatedGoods ul li span.price{
    margin-top: 10px;
    color: #202f48;
}
div.relatedGoods ul li span.sold{
    color: #aaa;
}
div.product_detail {
    width: 760px;
    float: right;
    margin-bottom: 15px;
}


/*关于product_intro*/
div.product div.product_intro{
    padding: 10px;
    line-height: 45px;
}
div.product div.product_intro div.slide_pic{
    width: 300px;
    height: 350px;
    float: left;
    position: relative;
}
#small_pic_box{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    outline: 1px #ccc solid;
    background-color: #fff;
    overflow: auto;
}
#small_pic_box img{
    height: 50px;
    width: auto;
    margin: 10px;
    cursor: pointer;
    outline: 1px red solid;
}

div.product div.product_intro div.slide_pic > img{
    max-width: 300px;
    display: none;
}
div.product div.product_intro .slide_pic:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div.product div.product_intro .slide_pic{zoom:1}

h1,div.price_box div,div.classify div,div.amount_box div,div.product_intro span,div.wish_sheet a{
    display: inline;
    font-size: 13px;
}
h1,h2,div.confirm,div.wish_sheet{
    margin-left: 15px;
}
div.classify a,div.wish_sheet a{
    color: #333;
}
h1{
    font-size: 18px;
    line-height: 54px;
}
h2{
    float: left;
    width: 85px;
    font-weight: normal;
    font-size: 13px;
    color: #a0a0a0;
}
div.kind_and_price{
    float: left;
    width: 440px;
}
div.product div.product_intro div.price_box{
    background: #fbfbfb;
    
}div.origin_price,div.now_proce{
    font-family: "微软雅黑";
}
div.product div.product_intro div.price_box div.origin_price{
    text-decoration: line-through;
    font-size: 14px;
    color: #a0a0a0;
}
div.product div.product_intro div.price_box div.now_proce{
    font-weight: bold;
    font-size: 30px;
    color: #fe0000;
}
div.product div.product_intro div.price_box div.label{
    margin: 0 5px;
    padding: 3px 2px;
    background: #e2fda3;
    border-radius: 5px;
    font-size: 13px;
    color: #00561f;
}
div.product div.product_intro div.trans{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: thin solid #eee; 
}

div.product div.product_intro div.classify a{
    margin-right: 5px;
    padding: 8px 12px;
    outline: thin solid #ccc;
}
div.product div.product_intro div.classify a:hover{
    outline: 2px solid #f52466;
}


div.amount_box div.choose_amount input,div.amount_box div.choose_amount div.minus,div.amount_box div.choose_amount div.plus{
    float: left;
    margin-top: 5.5px;
    padding: 0 5px;
    border: thin solid #ccc;
}
div.amount_box div.choose_amount input{
    width: 68px;
    height: 36px;
    border-left:none;
    border-right: none; 
}
div.amount_box div.choose_amount div.minus,div.amount_box div.choose_amount div.plus{
    height: 36px;
    line-height: 36px;
    background: #fbfbfb;
    color: #a0a0a0;
}
div.amount_box span.surplus{
    margin: 0 5px;
    color: #a0a0a0;
}
div.comment{
    height: 50px;
}
div.comment div.stars{
    padding-top: 12px;
}
/*div.comment div.stars img:hover{
    background: url(image/star_hover.png)no-repeat;
    cursor: pointer;
}*/
div.kind_and_price div.confirm a{
    padding: 10px 40px;
    margin-right: 20px;
    border-radius: 5px;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 16px;
    text-align: center;
}
a.buy_now{
    background: #f5cfdb;
    color: #f52466;
}
a.in_car{
    background: #f52466;
    color: #fff;
}
div.wish_sheet{
    margin-top: 70px;
}
div.wish_sheet a{
    padding-left: 30px;
}
div.wish_sheet a.wish_pre{
    background: url(image/wish.png) no-repeat 5px;
}
div.wish_sheet a.wish_after{
    display: none;
    color: #a0a0a0;
    
}
div.wish_sheet a.wish_after.wished{
    color: #7d995d;
    background: url(image/wish_after.png) no-repeat 5px;
}

/*详情*/
div.product_detail div.detail_list ul.list li{
    float: left;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 13px;
    
}
div.product_detail div.detail_list ul.list li a{
    padding: 0 49px;
    background: url(image/menuTab_cut.png) right no-repeat;
    color: #666;
}
div.product_detail div.detail_list ul.list li a.selected{
    padding: 16px 50px;
    background: #ccc;
    font-weight: bold;
    color: #333;
}
.detail_list:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.detail_list{zoom:1}

div.detail{
    border: thin solid #ccc;
    padding: 15px 30px;
    font-size: 13px;
    line-height: 24px;
}

div.related h3{
    margin: 20px 0 0 0;
    line-height: 42px;
    font-size: 16px;
}
div.related div.main div.goods_show {
    margin: 0 auto;
    border: thin solid #ccc; 
}
div.related div.main div.goods_show div.goods{
    width: 150px;
    margin: 10px auto;
}
div.related div.main div.goods_show div.goods img{
    width: 150px;
}
div.related div.main div.goods_show div.goods a{
    line-height: 32px;
    font-size: 13px;
    color: #666;
}
div.related div.main div.goods_show div.goods div.price{
    font-size: 18px;
    color: #fe0000;
}
/*评论*/
div.user_comment_box div.user_comment{
    margin: 15px 0;
}
div.user_comment_box div.user_comment div.user_brief{
    position: absolute;
    width: 120px;
    background: url(image/evaluation_triangle.png) top right no-repeat;
    text-align: center;
}
div.user_comment_box div.user_comment div.comment_content{
    margin: 0 0 0 119px;
    padding: 15px;
    background: #fcfff8;
    border: thin solid #eee;
}
div.comment_content div.comment_content_info{
    padding-bottom: 5px;
    border-bottom: thin solid #eee;
}
div.user_brief img{
    box-shadow: 0 0 5px #aaa;
}
div.user_brief p{
    color: #7d995d;
}
div.comment_content div.comment_content_info div.stars{
    float: left;
}
div.comment_content div.comment_content_info time{
    float: right;
    color: #aaa;
}
.comment_content_info:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.comment_content_info{zoom:1}

div.comment_content_text{
    padding: 5px 0;
}
div.comment_content div.reply_content{
    padding: 10px;
    background: #f5f7f3;
}
div.comment_pages{
    text-align: right;
}
div.comment_pages a{
    margin: 3px;
    padding: 2px;
}