.product_show {
}
.product_show .wrapper {
    border: solid thin #dcdcdc;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 3px 3px 5px #eee;
}
.product_show .head {
}
.product_show .main {

}
.product_show .goods_show {
    float: left;
    width: 100%;
    height: 498px;
    overflow: hidden;
}
.product_show .goods_show:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.product_show .goods_show{zoom:1}
.product_show .main:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.product_show .main{zoom:1}


div#product_hot.product_show .goods_show {
    width: 100%;
    height: 250px;
}



/*Detail*/
div#header{
    margin-bottom: 20px;
}
div#nav h2{
    display: none;
    text-align: center;
    line-height:36px; 
    font-size: 16px;
    font-weight: normal;
    color: #829b5f;
}
#nav div#smallLogo{
    margin-bottom: 35px;
}
div#nav div.navBox{
    text-align: center;
    box-shadow: 2px 5px 5px #eee;

}
div#nav div.navBox ul li.car a{
    background: url(image/menu_car1.png)no-repeat;
}
div#nav div.navBox ul li.food a{
    background: url(image/menu_food1.png)no-repeat;
}
div#nav div.navBox ul li.baby a{
    background: url(image/menu_baby1.png)no-repeat;
}
div#nav div.navBox ul li.home a{
    background: url(image/menu_home1.png)no-repeat;
}
div#nav div.navBox ul li.space a{
    background: url(image/menu_space1.png)no-repeat;
}
div#nav div.navBox ul li.car a:hover{
    background: url(image/menu_car.png)no-repeat;
}
div#nav div.navBox ul li.food a:hover{
    background: url(image/menu_food.png)no-repeat;
}
div#nav div.navBox ul li.baby a:hover{
    background: url(image/menu_baby.png)no-repeat;
}
div#nav div.navBox ul li.home a:hover{
    background: url(image/menu_home.png)no-repeat;
}
div#nav div.navBox ul li.space a:hover{
    background: url(image/menu_space.png)no-repeat;
}
div#nav div.navBox ul li a{
    display: block;
    font-size: 18px;
    color: #806252;
    line-height: 50px;
    text-indent: 100px;
    letter-spacing: 6px;
}
div#nav div.navBox ul li a:hover{
    color: #ff9b00;
}
div#nav div.navBox ul li{
    border: 6px solid #fff;
}
div#nav div.navBox ul li:hover{
    background: #eff3f4;
    transition-duration:0.5s;
}
div.recommend .picBox {
    height:325px;
    width: 748px;
}

div.user{
    margin-left: 30px;
}

div.user div.icon img{
    float: left;
    margin: 0 10px 0 0;
}
div.user div.intro{
    line-height: 20px;
    font-size: 13px;

}
div.user div.intro a{
    text-decoration: underline;
    color: #7d995d;

}
div.user div.button ul.button_list li{
 /*   display: inline;*/
    text-align: center;
    line-height: 30px;

}
div.user div.button ul.button_list li a{
    float: left;
    width: 81px;
    height:30px;
    margin:5px 0;
    background: #ff9b00;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: thin solid #df8800;
}
div.user div.button ul.button_list li.reg a{
    margin:5px 0 0 10px;
}
div.button{
    padding-bottom: 15px;
    border-bottom: thin solid #e6e6e6; 
}
.button:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.button{zoom:1}

div.user div.discount div.present{
    padding-top: 10px;
}
div.user div.discount div.present div{
    float: left;
    width: 73px;
    height: 73px;
    margin: 10px 0;
    background: #fafafa;
    border: thin solid #d0d0d0;
    font-size: 13px;
    text-align: center;    
}
div.user div.discount div.present div a:hover{
    color: #ff9b00;
}
div.user div.discount div.present div a{
    display: block;
    position: relative;
    padding-top: 55px;
    border-radius: 3px;
    color: #7d995d;
}
div.user div.discount div.present div:hover{-webkit-animation:bounce 1s 0s ease both;
    -moz-animation:bounce 1s 0s ease both;}
/*关键帧声明*/
    @-webkit-keyframes bounce{
    0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}
    40%{-webkit-transform:translateY(-15px)}
    60%{-webkit-transform:translateY(-8px)}
    }
    @-moz-keyframes bounce{
    0%,20%,50%,80%,100%{-moz-transform:translateY(0)}
    40%{-moz-transform:translateY(-15px)}
    60%{-moz-transform:translateY(-8px)}
    }
div.user div.discount div.present div.option2{
    margin: 10px 17px;
}
div.user div.discount div.present div.option1{
    background: url(image/option_star.png)no-repeat;
}
div.user div.discount div.present div.option2{
    background: url(image/option_card.png)no-repeat;
}
div.user div.discount div.present div.option3{
    background: url(image/option_car.png)no-repeat;
}
div.user div.discount div.present div.option4{
    background: url(image/option_sale.png)no-repeat;
}


.present:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.present{zoom:1}

div.free ul li{
    display: none;
}
div.free{
    width: 262px;
    height: 99px;
    margin-top: 10px;
    background: url(image/policyList.png)no-repeat;
}


div.product_show div.head h3{
    display: inline;
    padding: 1px 0 10px 5px;
    margin-left: 24px;
    /*background: url(image/label.png)no-repeat;*/
    font-size: 20px;
    line-height: 51px;
    font-weight: normal;
    color: #7d995d;
}
div.product_show div.head a.more{
    float: right;
    margin-right: 20px;
    line-height: 51px;
    font-size: 12px;
    text-decoration: underline;
    color: #7d995d;
}
div.product_show div.main div.goods_show div.goods a{
    display: block;
    width: 205px;
    margin: 5px auto;
    font-size: 13px;
    line-height: 18px;
    color: #535353;
}
div.product_show div.main div.goods_show div.goods a:hover{
    color: #7d995d;
}
div.main div.goods_show div.price{
    display: block;
    width: 205px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 14px;
    color: #ff9b00;
}
div.goods_show .goods img {
    display: block;
    margin: 20px auto;
}

div.goods.order-0, div.goods_show.order-0{
    width: 378px;
    height: 498px;
}
div.goods.order-0 img,div.goods_show.order-0 img{
    width: 320px;
    height: 240px;
}
div.product_show div.main div.goods_show div.goods.order-0 a,div.product_show div.main div.goods_show div.goods.order-0 div.price{
    width: 320px;
}


div#product_groupBuy div.main{
    background: url(image/moudle_BG1.png)no-repeat;
}
div#product_secKill div.main{
    background: url(image/moudle_BG2.png)no-repeat;
}
div#product_timeBuy div.main{
    background: url(image/moudle_BG3.png)no-repeat;
}

