body,html{
    background-color: #121a2b;
    color: #c7d3de;
}
#ad img{
    width: 100%;
    max-height: 300px;
    margin: 0 auto;
}
.couponInfo{
    height: 150px;
    margin: 10px 0px;
}
.couponInfo .coupon{
    width: 313px;
    height: 100%;
    float: left;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    
    word-wrap: break-word; 
    word-break: normal; 
}
.couponInfo .coupon_2{
    margin: 0 10px;
}
.couponInfo .coupon .couponNumber{
    width: 25%;
    height: 100%;
    float: left;
    background-color: #1c2335;
}
.couponInfo .coupon .couponNumber .couponNumberBig{
    margin: 35px 0px 0px 20px;
    font-size: 18px;
}
.couponInfo .coupon .couponNumber .couponNumberInfo{
    margin: 10px 20px 0px 20px;
    font-size: 14px;
}
.couponInfo .coupon .couponContent{
    width: 75%;
    height: 100%;
    float: left;
    background-color: #23334f;
}
.couponInfo .coupon .couponContent .couponContentBox {
    margin: 35px 20px;
}
.couponInfo .coupon .couponContent h3{
    margin-bottom: 10px;
}
.couponInfo .coupon .couponContent p{
    line-height: 1.3em;
    font-size: 14px;
}
.couponInfo:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.couponInfo{zoom:1}

.secKill{

}
.secKill .secKillProduct{
    width: 100%;
    margin-bottom: 5px;
}
.secKill .secKillProduct img{
    width: 100%;
    height: auto;
}

.personalPop{

}
.personalPop .headLine h2{
    display: inline;
}
.personalPop .headLine a{
    float: right;
    margin:15px 10px 0 0;

    
}


.productPics{
    width: 960px;
    height: 360px;
    overflow: hidden;
}
.productPics .productPicture{
    float: left;
    outline: 1px #ddd solid;
    background-size: 100% 100%;
}
.productPics .part{
    float: left;
    height: 100%;
}
.productPics .part_1{
    width: 20%;
}
.productPics .part_2{
    width: 30%;
}
.productPics .part_3{
    width: 30%;
}
.productPics .part_4{
    width: 20%;
}
.productPics .productPicture_1{
    width: 100%;
    height: 100%;
    background-image: url(../resource/product_1.png);
}
.productPics .productPicture_2{
    width: 50%;
    height: 50%;
    background-image: url(../resource/product_2.png);
}
.productPics .productPicture_3{
    width: 50%;
    height: 50%;
    background-image: url(../resource/product_3.png);
}
.productPics .productPicture_4{
    width: 100%;
    height: 50%;
    background-image: url(../resource/product_4.png);
}
.productPics .productPicture_5{
    width: 100%;
    height: 45%;
    background-image: url(../resource/product_5.png);
}

.productPics .productPicture_6{
    width: 50%;
    height: 55%;
    background-image: url(../resource/product_6.png);
}

.productPics .productPicture_7{
    width: 50%;
    height: 55%;
    background-image: url(../resource/product_6.png);
}

.productPics .productPicture_8{
    width: 100%;
    height: 100%;
    background-image: url(../resource/product_7.png);
}
.productPics .opacityBox{
    display: block;
    height: 100%;
    width: 100%;
    
    
}
.productPics .opacityBox.active{
    background-color: rgba(27,32,61,0.5);
}
.productPics .opacityBox.active p{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.productPics .textBox{
    padding: 20px 20px 0px 20px;
    line-height: 1.5em; 
    display: none;
}
.recommend{
    margin-top: 15px;
    padding-top: 15px;
    background-color: #eeefe9;
}
.recommend .options{
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    color: #000; 
}

.recommend .options:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.recommend .options{zoom:1}
.recommend .options .textBox{
    display: block;
    width: 320px;
    float: left;
    text-align: center;
    padding: 10px 0px;
    outline: #ccc 2px solid;
    cursor: pointer;
}
.recommend .options .textBox.active{
    background-color: #48a99a;
    color: #fff;
}
.recommend .recommend_1,.recommend .recommend_3{
    display: none;
}
.recommend .recommendBox{
    padding: 30px;

    font-size: 14px;
}
.recommend .recommendBox .recProduct{
    width: 290px;
    margin: 5px;
    float: left;
    background-color: #fff;
    outline: thin solid #ccc;

}
.recommend .recommendBox:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.recommend .recommendBox{zoom:1}

.recommend .recommendBox .recProduct img{
    float: left;
    width: 120px;
    height: 134px;
}

.recommend .recommendBox .recProduct h4{
    width: 150px;
    color: #444;
    font-weight: normal;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.5em;

    display: block;
    height: 30px;
    overflow: hidden;
}
.recommend .recommendBox .recProduct .pricePart{
    margin:0 10px 10px 10px;
    float: left;
    width: 50%;
}
.recommend .recommendBox .recProduct .pricePart .priceBox{
    float: left;
    color: #48a99a;
}
.recommend .recommendBox .recProduct .pricePart .buyNow{
    float: left;
    margin-left: 10px;
    padding: 3px 5px;
    display: block;
    background-color: #48a99a;
    color: #fff;
    font-size: 13px;
}
.recommend .pricePart:after{display:block;clear:both;content:"";visibility:hidden;`ight:0}
.recommend .pricePart{zoom:1}

.recommend .recommendBox .recProduct .soldPart{
    margin:0 10px 10px 10px;
    float: left;
    width: 50%;

}
.recommend .recommendBox .recProduct .soldPart .soldBox{
    float: left;
    color: #444;
}
.soldBox .soldNum{
    color: #48a99a;
} 
.recommend .recommendBox .recProduct .soldPart .share{
    float: left;
    margin-left: 20px;
    padding: 3px 10px 3px 20px;
    background: url(image/share.png)no-repeat;
    color: #48a99a;
    font-size: 0.8em;
    cursor: pointer;
}
.recommend .recommendBox .recProduct .soldPart .share.active{
    color: red;
}
.recommend .soldPart:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.recommend .soldPart{zoom:1}