div#contain div.wrapper {

}
div#contain div.wrapper:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div#contain div.wrapper{zoom:1}
div.classify_box {
    display: block;
    width: 190px;
    float: left;
}
div.sorting a{
    color: #666;
    font-size: 0.9em;
}
div.product_list {
    width: 760px;
    float: right;
}

div.product_list div.top_row {  
    border-bottom: thin solid #dcdcdc;
}

div.product_list div.top_row div.list_map,div.product_list div.top_row div.sorting,div.product_list div.top_row div.sorting h3,div.product_list div.top_row div.sorting div{
    display: inline;
}
/*div.product_list div.top_row div.sorting{
    float: right;
}*/
div.goods_show div.goods {
    width: 230px;
    float: left;
    margin: 10px 11px;
}
div.goods_show .goods img {
    display: block;
    width: 100%;
    height: 220px;
}

.goods_show:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.goods_show{zoom:1}

div.ProductInfo{
    height: 105px;
    background: url(image/goodsBG_only.png)no-repeat;
    background-size: 100%;
    color: #d6dc1e;
}
div.ProductInfo a.show_name{
    display: block;
    padding: 5px 10px 0 10px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 14px;
    line-height: 1.5em;
    color: #c7d3de;
    overflow: hidden;
    
}
div.ProductInfo p{
    display: inline;
    margin-left: 5px;
}
div.goods_show div.ProductInfo p:before {
    content: '￥';
}
span.origin_price{
    margin-left: 10px;
    text-decoration: line-through;
    font-size: 14px;
    color: #a0a0a0;
}
div.page_change{
    margin: 20px 0;
}
div.page_change a,div.page_change span{
    margin:5px;
    padding: 5px 10px;
    border: thin solid #ddd;
    
}
div.page_change a{
    color: #202f48;
}
div.page_change span{
    color: #ccc;
}
div.page_change a:hover{
    border: thin solid #202f48;
}
div.page_change a.current{
    border: thin solid #202f48;
    font-weight: bold;
}
