div#contain{
	min-height: 720px;
    background: url("images/login_bg.png") no-repeat;
}
div#contain .wrapper {
    width: 30%;
    padding-top: 65px;
    padding-left: 60%;
    padding-right: 10%;
}
div.main_box {
    width: 386px;
    height: 524px;
    /*border: thin solid #e0e0e0; */
}
div.main_box div#login_showText {
	margin:0 0 20px 0; 
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #a0a0a0;
}
div.main_box div.log_box, div.main_box div.reg_box {
    position: relative;
    background-color: #fff;
}
div.main_box div.log_or_reg {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
div.main_box div.log_or_reg a {
	display: block;
	float: left;
	width: 192px;
	height: 60px;
	font-size: 21px;
	font-family: "微软雅黑";
	line-height: 60px;
	color: #535353;

	/*border: thin solid #e0e0e0;*/
}
div.main_box div.log_or_reg a {
    border-bottom: thin solid #fff;
    background-color: #e0e0e0;
}
div.main_box div.log_or_reg a.selected{
    background-color: #fff;
}
div.main_box div.log_box,div.main_box div.reg_box{
	padding: 15px;
	border: thin solid #e0e0e0;
	box-shadow: 2px 2px 10px #ccc;
}
div.main_box div.input form{
	width: 320px;
	margin: 0 auto;
	padding-top: 50px;
}
div.main_box div.input form label{
	display: block;
	line-height: 30px;
	color: #535353;
	font-size: 14px;
}
div.main_box div.input form input{
	width: 310px;
	height: 36px;
	margin: 5px 0;
	padding: 0 5px;
	border-radius: 5px;
	outline: none;
	border: thin solid #e0e0e0; 
	font-size: 14px;
}
div.main_box div.input form input:focus{
	-webkit-box-shadow: 0 0 5px #daff7f;
	-moz-box-shadow: 0 0 5px #daff7f;
	box-shadow: 0 0 5px #daff7f;
}
div.main_box div.input form input.confirm{
	width: 320px;
	height: 42px;
	margin: 10px 0;
	border: none;
	background: #92a42a;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}
div.main_box div.log_box div.input form input.confirm:hover{
	background: #b3d465;
}
div.main_box div.reg_box div.input form input.confirm:hover{
	background: #b3d465;
}

div.main_box div.reg_box div.input form input#user_code{
	width: 160px;
}
div.main_box div.reg_box div.input form div.code a.get_code{
	display: block;
	float: right;
	width: 100px;
	height: 38px;
	margin: 5px 0;
	line-height: 38px;
	text-align: center;
	border-radius: 5px;
	background: #daff7f;
	font-size: 14px;
	color: #7d995d;
}
div.main_box div.reg_box div.input form p{
	font-size: 13px;
	line-height: 35px;
	color: #a0a0a0;
}
div.main_box div.reg_box div.input form p a{
	color: #ff9b00;
}
div.main_box div.log_box div.input a.code_forget{
	display: block;
	margin: 0 10px;
	text-align: right;
	font-size: 13px;
	line-height: 30px;
	color: #7d995d;
}
div.main_box div.log_box div.input a.code_forget:hover{
	text-decoration: underline;
}
