div#userHeader a,div.content a{
    color: #2b4490;
}
div.user{
    margin-top: 10px;
}
div.user div.icon{
    position: absolute;
    width: 80px;
}
div.user div.operate{
    padding-left: 85px;
    line-height: 22px;
    font-size: 13px;
}
div#content{
    width: 960px;
    min-height: 426px;
    margin: 20px auto;
    border: thin solid #cce198; 
    border-top: medium solid #cce198;

    font-size: 13px;
}
div.user_info_nav_box{
    position: absolute;
    width: 200px;
    /* height: 100%; */
    border-right: thin solid #cce198; 
}
.user_info_nav_box:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.user_info_nav_box{zoom:1}

div.user_info_nav_box ul li{
    padding-left: 20px;
    line-height: 44px;
    list-style: disc;
    list-style-position: inside;
    border-bottom: thin dotted #8ea773;
    background: url(image/menu_next.png)no-repeat;
}
div.user_info_nav_box ul li a{
    display: block;
}
div.content{
    min-height: 340px;
    padding: 0 0 0 200px;
}
div.welcome_page h3{
    background: #f5f8ed;
    line-height: 44px;
    padding-left: 20px;
}
div.welcome_page div,div.welcome_page h4{
    margin: 20px 0;
    padding-left: 20px;
    line-height: 24px;
}
div.welcome_page h4{
    width: 80px;
    line-height: 36px;
    background: #fff;
}
div.welcome_page div.h4_BG{
    background: #eee;
}

div.pass_edit p{
    line-height: 3em;
    height: 40px;
}
div.pass_edit label{
    display: block;
    float: left;
    width: 80px;
    line-height: 30px;
    text-align: right;
}
div.pass_edit input{
    width: 200px;
    padding: 1px 5px;
    line-height: 21px;
}
div.pass_edit input#pass_change_confirm{
    margin-top: 42px;
    padding: 5px 15px;
    text-align: center;
}

div.order div.orderItem{
    width: 97%;
    padding: 0;
    border: thin solid #ddd;
}
div.order div.orderItem:hover{
    border: thin solid #bbb;
}
.orderItem:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.orderItem{zoom:1}
div.order div.orderItem h5{
    padding: 0 10px;
    line-height: 42px;
    background: #eee;
}
div.order div.orderItem ul li div{
    margin: 0;
    padding: 0;
    float: left;
    height: 120px;
    border-left: thin solid #ddd;
    text-align: center;
}
div.order div.orderItem ul li span{
    display: block;

}
div.order div.orderItem ul li span.picture img{
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px;
}
div.order div.orderItem ul li div.name{
    width: 180px;
    border: none;
    text-align: left;
}
div.order div.orderItem ul li div.price{
    width: 120px;
    border: none;
    text-align: left;
}
div.order div.orderItem ul li span.original_price{
    text-decoration: line-through;
    font-size: 14px;
    color: #a0a0a0;
}
div.order div.orderItem ul li span.labels{
    padding: 0px 2px;
    border-radius: 5px;
    font-size: 13px;
    color: #f52466;
}
div.amount,div.order_state{
    width: 90px;
}
div.order div.orderItem ul li div.amount p.amount_price{
    font-weight: bold;
}
div.comment{
    width: 114px;
}
div.comment a{
    display: block;
    width: 80px;
    margin: 0 auto;
    word-wrap:break-word;
}
div#currentAddress div.normal{
    width: 91%;
    padding: 0;
    line-height: 36px;
    border: thin solid #ddd;
}
div.add div.modify {
    width: 87%;
    padding: 0;
    line-height: 36px;
    border: thin solid #ddd;
}
div#currentAddress div.normal a {
    margin-left: 15px;
    font-size: 13px;
    color: #7d995d;
}
div.modify input{
    padding: 0 5px;
    min-width: 200px;
}
div.modify span{
    margin: 10px;
    color: #dc001a;
}
div#currentAddress div.normal input.choose{
    margin-left: 10px;
}
div#currentAddress div.modify,div.add div.modify {
    margin: 0;
    padding: 15px;
    background: #fbfbfb;
    border-top: thin solid #ddd;
    line-height: 32px;
}
div#currentAddress div.modify a.modifyConfirm,div.add div.modify a.modifyConfirm  {
    display: block;
    width: 140px;
    height: 35px;
    margin: 10px;
    text-align: center;
    background: #7d995e;
    font-size: 16px;
    font-family: "微软雅黑""黑体";
    color: #fff;
}
div#address div.add a.new {
    margin: 10px;
    padding: 3px 0 5px 30px;
    line-height: 32px;
    background: url(image/add.png) no-repeat 4px;
    color: #7d995d;
}

div.page{
    text-align: center;
    margin-bottom: 25px;
}
div.page a{
    padding: 5px 15px;
    border: thin solid #ddd;
}
div.page a:hover{
    border: thin solid #202f48;
}

p.complaint_content{
    width: 95%;
    padding: 5px;
    border-bottom: thin solid #ddd;
}
form.add_complaint{
    width: 90%;
    margin: 0 auto;
}
form.add_complaint textarea{
    width: 99%;
    height: 100px;
    padding: 4px;
}
form.add_complaint input#complaint_submit{
    margin-top: 10px;
    padding: 5px 15px;
}
